body {
    font-family: Arial, Helvetica, sans-serif;

    .pokemon {
        width: 500px;
        height: 500px;
        border: 10px solid #bdbdbd;
        background-color: #5d90ff;
        display: flex; 
        margin: 60px auto 0;

        &__info {
            width: 250px;
            height: 500px;
            background-color: #5dfffc
        }

        &__list {
            width: 250px;
            height: 500px;
            background-color: #ff4e4e;
        }
    }
}